.hero h1 {
    font-family: 'Bebas Neue', sans-serif; /* Bisa diganti dengan 'Anton' */
    font-size: 48px; /* Sesuaikan ukuran */
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #333; /* Sesuaikan warna */
}



/* Slideshow Container */
.slideshow-container {
    position: relative;
    width: 100%; /*bisa diganti dengan ukuran spesifik*/
    max-width: 500px; /* Sesuaikan ukuran */
    height: 300px; /* Sesuaikan ukuran */
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000; /* Opsional: agar gambar transparan terlihat jelas */
}

/* Style untuk gambar dalam slideshow Pastikan semua gambar di dalam slideshow memiliki ukuran yang sama */
.slide {
    
    width: 100%;
    height: 100%;
    object-fit: contain; /* Bisa diganti 'contain' jika ingin seluruh gambar terlihat */
    opacity: 0; /* Semua gambar awalnya tidak terlihat */
    transition: opacity 1s ease-in-out;
    position: absolute;
}

/* Gambar yang aktif akan muncul */
.slide.active {
    opacity: 1;
}

/* Tombol Navigasi */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.prev { left: 5px; }
.next { right: 5px; }

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


